
body{
    text-align: justify;

#trabalhoEdinheiro{
    padding-top: 120px;
    //font-family:'Montserrat, sans-serif';

    h4{  
        margin-bottom: 4%; 
        
      
      
              
    }
    h2{
        color: #a861ec;
        
    }
    p{
        font-size: 15px;
        color: #615b56;
    }
    
    .linkReprograma{
        text-decoration:none;
        color: #212529;

    }
    


.autora{
    margin-bottom: 7%;
}
.conteudo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //background: #a861ec;
    .texto_trabalho{
        padding-left:0;
        
    } 
} 

}
    .entrevista{
        font-size: 15px;
        color: #615b56;

    } 
    



    .container{
        padding: 25px;
    }
      
}